In [71]:
pip install pandas

Collecting pandas
  Downloading pandas-2.1.4-cp311-cp311-win_amd64.whl.metadata (18 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.2-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.2 kB ? eta -:--:--
     -------------------- ------------------- 30.7/61.2 kB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 61.2/61.2 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\reedk\workspace\apexmountain\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------  337.9/341.8 kB 10.6 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\reedk\workspace\apexmountain\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.4-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   -- ------------------------------------- 0.8/10.6 MB 16.3 MB/s eta 0:00:01
   ------ --------------------------------- 1.6/10.6 MB 17.4 MB/s eta 0:00:01
   ----------- ---------------------------- 3.1/10.6 MB 21.6 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/10.6 MB 23.9 MB/s eta 0:00:01
   ------------------------ --------------- 6.4/10.6 MB 27.3 MB/s eta 0:00:01
   -------------------------------- ------- 8.6/10.6 MB 30.7 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 34.6 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 31.2 MB/s eta 0:00:00
Downloading numpy-1.26.2-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   ------- -------------------------------- 2.9/15.8 MB 62.1 MB/s eta 0:00:01
   -------------- ------------------------- 5.6/15.8 MB 59.7 MB/s eta 0:00:01
   -------------------- ------------------- 8.2/15.8 MB 58.4 MB/s eta 0:00:01
   ---------------------------- ----------- 11.2/15.8 MB 59.5 MB/s eta 0:00:01
   ----------------------------------- ---- 14.1/15.8 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 54.4 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   --------------------------------------- 502.5/502.5 kB 30.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [72]:
import tmdbsimple as tmdb
import pandas as pd
tmdb.API_KEY = '77b3e44f983ea9bfc6eae8182d00e4c9'

In [44]:
def getActorId(name):
    id = -1
    try:
        search = tmdb.Search()
        search_results = search.person(query=name)
        id = search.results[0]['id']
    except:
        print('error')
    return id

In [46]:
getActorId('John Krasinski')

17697

In [68]:
def getMovieCredits(actorId):
    person = tmdb.People(17697)
    return person.movie_credits()['cast']

In [93]:
movieCredits = getMovieCredits(17697)

In [91]:
def toDataframe(movieCredits):
    movie_credits_df = pd.DataFrame(movie_credits)
    return movie_credits_df.loc[:,('title','id','release_date', 'popularity','vote_average')].sort_values('release_date')

In [94]:
toDataframe(movieCredits)

,title,id,release_date,popularity,vote_average
44,State and Main,21991,2000-08-26,16.033,6.311
37,Kinsey,11184,2004-09-04,22.901,6.620
36,Taxi,11045,2004-10-06,28.086,5.572
29,Jarhead,25,2005-11-04,49.303,6.632
25,Duane Hopwood,26907,2005-11-11,5.193,5.800
32,Doogal,24432,2006-02-24,14.627,5.000
40,For Your Consideration,14799,2006-11-17,15.233,5.844
34,The Holiday,1581,2006-12-08,91.179,7.083
38,Dreamgirls,1125,2006-12-25,31.948,6.800
17,Operation Homecoming: Writing the Wartime Expe...,34981,2007-02-09,5.163,6.900
33,Shrek the Third,810,2007-05-17,129.654,6.300
7,License to Wed,2959,2007-07-04,20.985,5.681
16,A New Wave,29983,2007-08-21,5.839,3.800
8,Smiley Face,13168,2007-11-16,21.559,5.976
13,Leatherheads,4942,2008-03-24,15.239,5.800
42,Monsters vs Aliens,15512,2009-03-19,51.755,6.212
0,Away We Go,19255,2009-06-05,19.429,6.613
30,Brief Interviews with Hideous Men,29151,2009-09-25,4.339,5.200
21,It's Complicated,22897,2009-12-23,35.617,6.513
22,Something Borrowed,49022,2011-05-05,30.891,6.300
43,The Muppets,64328,2011-11-22,27.591,6.674
9,Big Miracle,78698,2012-02-02,15.675,6.600
14,Promised Land,133694,2012-09-23,15.760,6.294
1,Nobody Walks,84317,2012-10-19,9.124,4.700
26,The Office Retrospective,573134,2013-05-16,5.258,7.300
39,Monsters University,62211,2013-06-19,104.389,7.032
27,Letters to Jackie: Remembering President Kennedy,224335,2013-06-19,4.260,6.600
28,Mistaken for Strangers,173455,2013-09-19,0.600,7.200
19,Sleep Cycle,1152708,2014-02-15,2.167,0.000
15,The Prophet,283161,2014-09-06,11.688,7.371
24,Aloha,222936,2015-05-29,19.117,5.492
3,13 Hours: The Secret Soldiers of Benghazi,300671,2016-01-14,83.067,7.274
4,Born in China,355277,2016-08-12,12.012,7.300
2,The Hollars,325346,2016-08-25,17.793,6.300
11,Past Forward,426591,2016-11-17,1.314,5.400
10,Animal Crackers,315064,2017-06-23,19.118,6.300
31,Detroit,407448,2017-07-28,26.109,7.314
5,A Quiet Place,447332,2018-04-03,61.074,7.396
6,Next Gen,523777,2018-09-07,19.372,6.956
23,David Blaine: The Magic Way,689106,2020-04-01,9.583,6.200
12,A Quiet Place Part II,520763,2021-05-21,77.231,7.503
41,Free Guy,550988,2021-08-11,82.733,7.537
35,Doctor Strange in the Multiverse of Madness,453395,2022-05-04,178.791,7.300
18,DC League of Super-Pets,539681,2022-07-27,54.152,7.310
20,IF,639720,2024-05-15,13.424,0.000